@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>

<h4>This is my sub-heading</h4>

<div class="row">
    <div class="col-md-6">
        <p>My biography goes here</p>
    </div>
    
    <div class="col-md-6">
        <img src="~/App_Data/Uploads/penguin.jpg" alt="oof">
    </div>
</div>
