@{
    ViewBag.Title = "Download or Delete Images Here";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>

<div class="row">
    <div class="col-md-4">
        <div>
            <p>Image Placeholder</p>
        </div>
        <div>
            <button>Download</button><button>Delete</button>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <p>Image Placeholder</p>
        </div>
        <div>
            <button>Download</button><button>Delete</button>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <p>Image Placeholder</p>
        </div>
        <div>
            <button>Download</button><button>Delete</button>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <p>Image Placeholder</p>
        </div>
        <div>
            <button>Download</button><button>Delete</button>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <p>Image Placeholder</p>
        </div>
        <div>
            <button>Download</button><button>Delete</button>
        </div>
    </div>
</div>